POSTGRES_DB=forever
POSTGRES_USER=forever
POSTGRES_PASSWORD=forever
NGINX_HTTP_PORT=80
APP_PORT=9091
ADMIN_PORT=9092
API_PORT=9000
APP_DOMAIN=app-demo.etalonfood.com
ADMIN_DOMAIN=admin-demo.etalonfood.com
API_DOMAIN=api-demo.etalonfood.com
VITE_API_BASE_URL=http://api-demo.etalonfood.com:9000
BACKEND_CORS_ORIGINS=http://app-demo.etalonfood.com,http://admin-demo.etalonfood.com,http://app-demo.etalonfood.com:9091,http://admin-demo.etalonfood.com:9092
GUNICORN_WORKERS=4
GUNICORN_TIMEOUT=60
