POSTGRES_DB=forever
POSTGRES_USER=forever
POSTGRES_PASSWORD=forever
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=3000
ADMIN_PANEL_PORT=3001
VITE_API_BASE_URL=http://localhost:8000
BACKEND_CORS_ORIGINS=http://localhost:3000,http://localhost:3001
