POSTGRES_DB=forever
POSTGRES_USER=forever
POSTGRES_PASSWORD=forever
LETSENCRYPT_DIR=/etc/letsencrypt
APP_PORT=9091
ADMIN_PORT=9092
API_PORT=9000
APP_DOMAIN=app-demo.etalonfood.com
ADMIN_DOMAIN=admin-demo.etalonfood.com
API_DOMAIN=api-demo.etalonfood.com
VITE_API_BASE_URL=https://api-demo.etalonfood.com:9000
BACKEND_CORS_ORIGINS=https://app-demo.etalonfood.com:9091,https://admin-demo.etalonfood.com:9092
GUNICORN_WORKERS=4
GUNICORN_TIMEOUT=60
